<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <title>Title</title>
</head>
<body>
<h1 class="text-monospace">Привет, меня зовут {{ name }}</h1>
<img src="../static/image/duomo.jpg" alt="Моё фото" width="300">
<p class="text-body text-justify">Lorem ipsum dolor sit amet, consectetur
    adipisicing elit. Aliquid
    assumenda
    cum, deserunt dicta, dolores earum iure magnam numquam odit omnis optio
    perferendis, quos veniam? Quia!</p>
<p class="alert-dark">Все права защищены &copy;</p>
</body>
</html>