{% extends 'base.html' %}

{% block title %}
  {{ super() }} - {{ title }}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, laudantium?
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, perferendis.
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, repellendus.
    </div>
  </div>
{% endblock %}