<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/work_piece.css" />
    <title>Work piece</title>
  </head>
  <body>
    <div class="wrapper">

      <div class="header">
        <h1>Базовый шаблон сайта</h1>
        <div class="menu">
          <ul>
            <li><a href="/">Главная</a></li>
            <li><a href="#">О нас</a></li>
            <li><a href="#">Контакты</a></li>
          </ul>
        </div>
      </div>

      <div class="main">
        <div class="container">
          <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat
            impedit magnam maiores obcaecati officia quae temporibus
            voluptatibus? Atque eos, laboriosam, nulla omnis perferendis quis
            quisquam repellat sapiente, voluptas voluptates voluptatibus.
          </div>
          <div>Alias animi asperiores aspernatur aut autem beatae commodi culpa
            cupiditate dignissimos eaque enim fuga fugit, hic in, iste labore
            molestiae nisi, nobis officia perspiciatis quasi recusandae sequi
            ullam! Consequatur, doloribus?
          </div>
          <div>Deserunt dignissimos exercitationem modi natus nesciunt nostrum,
            optio tempore. Alias earum id in quae sapiente? Amet atque
            blanditiis consectetur, error ipsa libero molestiae molestias odit
            optio perspiciatis rerum ullam voluptates.
          </div>
          <div>Adipisci alias aliquid commodi delectus, dolores dolorum fuga hic
            illum ipsum minus natus neque nostrum omnis perspiciatis placeat
            quam reiciendis repellat similique soluta tempore temporibus tenetur
            ullam vitae voluptas voluptate?
          </div>
          <div>Assumenda ipsum, magni mollitia natus provident quia. Ad
            architecto blanditiis commodi, dolor dolore earum error fugit illum
            incidunt ipsum maiores nobis nulla officiis, porro quae quaerat,
            quasi sapiente similique vel!
          </div>
          <div>A ab, adipisci aliquid blanditiis corporis doloremque doloribus
            eius harum, illo itaque magnam numquam porro quidem recusandae sit
            totam voluptatibus? Aspernatur at aut laborum! Alias molestias quam
            sapiente voluptatem. Ullam!
          </div>
          <div>Asperiores consequatur ipsam, molestias nam natus officia
            quibusdam! Beatae dignissimos nulla, ratione recusandae repellendus
            ut. Corporis dignissimos dolorem, est itaque iure iusto omnis
            similique sint. Commodi dolor obcaecati qui recusandae!
          </div>
          <div>Accusantium eaque nam nesciunt sapiente sint. Accusamus beatae
            harum ipsum labore tempora? Ad delectus, earum est facere illum, in
            modi molestias nam neque numquam, sed suscipit tenetur totam unde
            velit!
          </div>
          <div>Ab aperiam assumenda, commodi cum dolor eos ex exercitationem
            itaque labore omnis quae repellendus similique sunt, unde vitae. A
            ab aperiam corporis, expedita fuga ipsam perferendis perspiciatis
            sequi sit vitae.
          </div>
          <div>Asperiores dicta dolore exercitationem facilis fugit iusto
            molestias nesciunt numquam officiis, reprehenderit? Aliquam
            doloremque facere hic illo ipsa laboriosam minus necessitatibus
            odio? Ab culpa deserunt eveniet illo obcaecati qui velit.
          </div>
          <div>Accusantium, blanditiis doloribus earum ex facere incidunt iure
            laborum nulla omnis quae reprehenderit unde veniam veritatis!
            Aspernatur blanditiis, cum dolorem fuga neque obcaecati saepe.
            Architecto dicta pariatur voluptas? Distinctio, perferendis?
          </div>
          <div>Dolore ducimus est, et exercitationem iste iure libero omnis
            optio ratione tenetur? Debitis incidunt molestiae nemo voluptatem!
            Dolores illum odit saepe. Distinctio eligendi eum magni modi sint
            sit totam veritatis.
          </div>
          <div>Blanditiis dolor doloremque neque nostrum sint. Blanditiis
            cupiditate doloremque eius eos esse fuga in inventore itaque iure,
            iusto, natus odio quibusdam quidem repudiandae sapiente tempore,
            tenetur veniam voluptatem. Cumque, tempora!
          </div>
          <div>Corporis cum delectus dolor dolores fuga inventore iste iusto
            laboriosam maiores minus obcaecati placeat quas rem repellendus
            sapiente sed, totam! A aliquam aperiam eaque illum magni minus sed
            vitae voluptatum!
          </div>
          <div>Alias beatae culpa delectus doloremque ea exercitationem expedita
            facilis hic iure labore laboriosam obcaecati, odio odit perspiciatis
            possimus praesentium quis quod repellat repellendus reprehenderit
            vel veritatis voluptatem voluptatibus? Distinctio, quia?
          </div>
          <div>Dolor dolorem dolores fuga id magnam maxime necessitatibus
            possimus rem sit veniam? Ad assumenda atque, culpa cum dignissimos
            dolore dolores, est eveniet laborum maxime nostrum omnis porro quia
            quibusdam repellendus!
          </div>
          <div>A, accusantium aut blanditiis consectetur ducimus earum eius
            error est eveniet expedita facere fuga fugit impedit ipsa libero
            necessitatibus nesciunt, nulla quasi quisquam sunt tempore totam
            veritatis, voluptates? Nisi, suscipit.
          </div>
          <div>Ad aliquid at autem, consequuntur cum cupiditate deleniti
            dignissimos doloribus eligendi esse exercitationem fugiat ipsam
            iusto laudantium nemo pariatur quae quisquam quod repellendus
            repudiandae sed sequi vel! Eligendi ipsa, obcaecati.
          </div>
          <div>Consectetur ducimus placeat rerum. Aliquam aliquid animi commodi
            dolor dolorem excepturi explicabo, facilis illum in nihil nulla
            perferendis ratione repellat sequi unde vero voluptate. Ab aliquid
            cumque est mollitia tenetur?
          </div>
          <div>Exercitationem fuga placeat quos repellendus repudiandae!
            Accusantium ad alias blanditiis cum illum laborum non quibusdam
            soluta suscipit, vel. Dolore eum magni rerum? Accusamus esse fugiat
            iste iure, quis suscipit temporibus.
          </div>
          <div>Adipisci autem delectus eos incidunt. Aut consectetur culpa
            cupiditate distinctio dolor, dolore ducimus, eligendi, eos ex fugit
            in molestiae neque nesciunt placeat quam rem tempore temporibus
            vitae. Doloribus, eveniet, explicabo?
          </div>
          <div>Aliquam assumenda atque consectetur debitis delectus, doloribus
            eos esse excepturi explicabo illum inventore labore magnam neque
            tenetur totam veritatis voluptate voluptates. Amet dolore
            exercitationem ipsa iusto, maxime odio placeat tempore.
          </div>
          <div>Accusantium aspernatur beatae blanditiis deserunt distinctio
            eaque eos ex illo itaque nemo nesciunt nihil nobis quia, recusandae
            reiciendis repellendus suscipit tempora. Blanditiis, consequatur
            dolore ex hic minus nobis voluptas voluptatum!
          </div>
          <div>Ad aperiam harum incidunt iste, nam nemo nostrum odio possimus!
            Accusamus aliquid, beatae eveniet nam odit quisquam quos sint velit.
            Ab accusamus debitis error id nostrum quae quo suscipit vero.
          </div>
          <div>Asperiores atque commodi dolorem iure, laudantium neque officia,
            optio placeat praesentium provident quas repudiandae similique vel,
            veniam vitae! Architecto cum eius error excepturi natus provident
            quisquam rerum saepe sed sunt.
          </div>
          <div>Atque cum earum eius eligendi neque provident quam quidem,
            repellendus ut voluptates. Architecto, asperiores aut dicta
            dignissimos doloribus eos modi molestiae, quae quaerat quibusdam
            quos ratione rem soluta unde voluptate.
          </div>
          <div>Accusamus asperiores beatae blanditiis commodi deserunt, dolores
            dolorum enim eveniet expedita hic id inventore iure iusto laboriosam
            maiores, maxime mollitia nemo odio possimus quo recusandae
            repellendus similique sunt vitae, voluptates?
          </div>
          <div>Animi consectetur culpa dicta fuga id magni, minus natus neque
            nulla officiis quas quasi repellendus rerum tempora tenetur
            voluptatibus voluptatum. Ad debitis explicabo laudantium provident
            temporibus! Ab aspernatur laboriosam suscipit?
          </div>
          <div>Animi assumenda autem dignissimos dolores dolorum eius itaque
            minima natus, nisi nostrum odit placeat quibusdam unde! Aspernatur
            explicabo fugit laborum modi molestias, omnis quae quaerat quibusdam
            sit totam unde voluptatum.
          </div>
          <div>Aspernatur consequuntur, doloremque explicabo fugiat illo iusto
            minima nam odit, optio pariatur quam, quidem quisquam quos ratione
            rerum sed sequi soluta tenetur veritatis voluptas. Accusamus id
            nulla officiis velit veniam!
          </div>
          <div>Aperiam deleniti incidunt nulla quasi sapiente? Ad asperiores
            commodi cumque dolorum enim esse fugiat incidunt inventore laborum
            magnam magni molestiae nam nulla quasi reiciendis repudiandae, rerum
            soluta temporibus voluptas voluptatem.
          </div>
          <div>Ad architecto aspernatur consequatur, cumque excepturi explicabo
            fuga harum hic incidunt laborum minus nam neque non officiis omnis
            perspiciatis possimus quae, quasi qui quisquam saepe sint sit totam
            unde ut.
          </div>
          <div>Culpa dignissimos maiores perspiciatis quaerat quas qui tempore
            temporibus, vero voluptas. Aut blanditiis consequuntur esse, est, id
            illo ipsa, maiores pariatur quasi quia quis quo quod reiciendis rem
            rerum ullam?
          </div>
          <div>Accusantium debitis delectus numquam provident quasi, sint ullam.
            Adipisci assumenda, deleniti dolor eligendi ex exercitationem ipsa
            ipsum libero minima, modi molestias nisi odio porro quas
            reprehenderit rerum sed similique voluptate!
          </div>
          <div>Exercitationem laboriosam pariatur quasi sint? Ad adipisci
            assumenda, aut autem beatae consequuntur deserunt dolorum eum maxime
            officia omnis ratione, reiciendis tenetur ullam velit? Deserunt
            excepturi optio quaerat quas quasi ullam!
          </div>
          <div>A doloribus molestias nulla provident rem sint soluta tempora
            voluptas? Ad consectetur excepturi praesentium quia recusandae sint?
            Amet beatae, cumque dolorem enim, eos illo iste iusto, molestias
            mollitia praesentium rem?
          </div>
          <div>Accusantium consectetur consequuntur deserunt dolores, ducimus
            earum error esse eum eveniet impedit maxime neque non omnis optio
            quo quos velit, voluptate! Aspernatur culpa, quisquam? Explicabo
            harum molestias quaerat voluptatem voluptates.
          </div>
          <div>Accusantium animi blanditiis deserunt distinctio dolore dolores
            ducimus eligendi eos, eum eveniet ex excepturi neque officiis omnis
            praesentium quaerat recusandae repellendus saepe sapiente sint sit
            ullam voluptates voluptatum! Officiis, perspiciatis!
          </div>
          <div>Aperiam beatae, dolore iure nemo repellendus tenetur. Aperiam
            asperiores commodi corporis eaque, eum excepturi laboriosam
            laudantium maxime neque praesentium suscipit totam, voluptas
            voluptate! Animi id inventore necessitatibus, optio perspiciatis
            quia.
          </div>
          <div>Asperiores deleniti doloribus et illum nihil. Adipisci assumenda
            blanditiis consectetur consequatur error ipsa, officiis. Culpa,
            totam, vel. Doloremque minus non porro saepe! Error et fugiat ipsam,
            ipsum nobis nostrum vero?
          </div>
        </div>
      </div>

      <div class="footer">
        <p><a href="/">Базовый шаблон сайта</a></p>
      </div>

    </div>
  </body>
</html>
